@media all and (max-width:1300px) {
    ul.our-primary-menu li a {
        padding: 10px 14px;
    }
    .navbar-brand {
        margin-right: 0;
    }
    .header-search {
        width: 50px;
        font-size: 17px;
        margin-right: 14px;
    }
    .header-call-icon {
        font-size: 29px;
    }
    .mr-3 {
        margin-right: 0.8rem !important;
    }
    .header-call-info a {
        font-size: 15px;
    }
    body .hr-btn {
        padding: 10px 35px;
    }
}
@media all and (max-width:1200px) {
    .client-logo ul li:nth-child(4) {
        display: none;
    }
    .about-img-text {
        left: 194px;
        height: 200px;
        width: 200px;
    }
    .call-action-left-text h2 { 
        font-size: 31px;
    }
    .call-action-right-action span {
        width: 65px;
        height: 65px;
        line-height: 65px;
        font-size: 35px;
    }
    .call-action-right-action a {
        font-size: 21px;
        font-weight: 600;
    }
    .service-tab-item li:nth-child(5) {
        display: none;
    }
    .service-tab-item li:nth-child(6) {
        display: none;
    }
}
@media all and (max-width:1170px) {
    ul.our-primary-menu li a {
        padding: 10px 10px;
    }
    .header-search {
        width: 40px;
        font-size: 16px;
        margin-right: 10px;
    }
    .header-call-icon {
        font-size: 26px;
    }
    .mr-3 {
        margin-right: 0.7rem !important;
    }
    .header-call-info a {
        font-size: 15px;
        font-weight: 500;
    }
    body .hr-btn {
        padding: 9px 22px;
    }
    .slider-content h1 {
        font-size: 50px;
    }
}
@media all and (max-width:1080px) {
    ul.our-primary-menu li a {
        padding: 10px 8px;
    }
    .header-search {
        width: 35px;
        margin-right: 7px;
    }
    .header-call {
        width: 165px;
    }
    .header-call-icon {
        font-size: 25px;
    }
    .mr-3 {
        margin-right: 0.5rem !important;
    }
    .header-call-info a {
        font-size: 14px;
    }
    body .hr-btn {
        padding: 8px 17px;
    }
}
@media all and (max-width:991px) {
    .header-info {
        opacity: 0;
        visibility: hidden;
        width: 0;
        height: 0;
    }
    ul.our-primary-menu li ul {
        width: 200px;
        top: 100%;
        left: 90px;
        padding: 0 5px;
    }
    ul.our-primary-menu li:hover ul{
        top: 50%;
    }
    ul.our-primary-menu li a {
        padding: 8px 8px;
    }
    .client-logo ul li:nth-child(2) {
        display: none;
    }
    .about-img-left {
        text-align: center;
        margin-bottom: 50px;
    }
    .about-img-text {
        left: 248px;
        height: 200px;
        width: 200px;
    }
    .about-img-text {
        left: 0;
        right: 0;
        margin: auto;
    }
    .why-choose-us-left {
        text-align: center;
        margin-bottom: 30px;
    }
    .choose-us h2 {
        font-size: 26px;
    }
    .finix-text p {
        margin-bottom: 30px;
    }
    .responsive-row {
        width: 50%;

    }
    .apply-tittle p {
        margin-left: 35px;
        margin-right: 35px;
        margin-bottom: 0 !important;
    }
    .mb-4 {
        margin-bottom: 0 !important;
    }
    .apply-tittle {
        margin-bottom: 0;
    }
    .apply-text-left h2 {
        font-size: 25px;
        margin-bottom: 20px;
    }
    .step-timeline ul li h2 {
        font-size: 20px;
    }
    .apply-calcolate-right {
        margin-top: 30px;
    }
    .call-to-action-bg {
        padding: 25px 20px;
    }
    .call-action-left-text h2 {
        font-size: 32px;
        margin-right: 0;
        border-right: none;
        text-align: center;
    }
    .call-action-right-action {
        text-align: center;
        margin-top: 20px;
    }
    .call-action-right-action a {
        font-size: 24px;
        font-weight: 700;
        display: block;
        margin-top: 5px;
    }
    .values-left-text h2 {
        font-size: 25px;
        margin-bottom: 30px;
    }
    .values-left-text .value-items .value-text h2 {
        font-size: 20px;
    }
    .value-right-img {
        margin-top: 15px;
    }
    .service-tab-item li:nth-child(3) {
        display: none;
    }
    .service-tab-item li:nth-child(4) {
        display: none;
    }
    .mt-5 {
        margin-top: 1.5rem !important;
    }
    .service-tab-content img {
        margin-top: 0;
        margin-bottom: 20px;
    }
    .testimonial-content {
        text-align: center;
    }
    .testimonial-image {
        text-align: center;
    }
    .responsive-col {
        width: 50%;
    }
    .responsive-blog {
        width: 50%;
        margin: auto;
    }
    .blog-content h3 a {
        font-size: 20px;
    }
}
@media all and (max-width:768px) {
    .slider-content h1 {
        font-size: 30px;
    }
    .client-logo ul li:nth-child(3) {
        display: none;
    }
    .client-logo ul li:nth-child(5) {
        display: none;
    }
    .client-logo ul {
        justify-content: center;
    }
    .finix-text h2 {
        font-weight: 400;
        line-height: 30px;
    }
    .play-animation-btn {
        left: 0;
        right: 0;
        margin: auto;
    }
    .responsive-row {
        width: 100%;

    }
    .call-action-left-text h2 {
        font-size: 28px;
    }
    .service-section .finix-text h2 {
        font-size: 25px;
        margin: 12px 0;
    }
    .w-75 {
        width: 100% !important;
        font-size: 15px;
    }
    .service-tab-item li strong {
        font-weight: 700;
        font-size: 17px;
    }
    .team-member-section .finix-text h2 {
        font-weight: 500;
        font-size: 25px;
        line-height: 30px;
    }
    .blog-section .finix-text h2 {
        font-size: 25px;
    }
    .responsive-blog {
        width: 100%;
    }
    .blog-thumbnail img {
        width: 100%;
    }
}
@media all and (max-width:576px) {
    .responsive-col {
        width: 100%;
    }
}
@media all and (max-width:335px) {
    .service-tab-item li strong {
        font-weight: 700;
        font-size: 15px;
    }
    .testimonial-section .finix-text h2 {
        font-weight: 500;
        font-size: 25px;
        margin: 15px 0;
    }
    .testimonial-content {
        text-align: center;
    }
    .testimonial-content p {
        font-size: 18px;
    }
    .testimonial-image {
        text-align: center;
    }
}